<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>À propos</title>
</head>
<body>
    <nav>
        <a href="/">Accueil</a>
        <a href="/about">À propos</a>
    </nav>
    <h1>À propos</h1>
    <p>Salut Moi c'est Quentin ALK mais on me surnomme Kentrell</p>
</body>
</html>