<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
    <nav>
        <a href="/">Accueil</a>
        <a href="/about">À propos</a>
    </nav>
    <h1>Bravo l'appli est bien installé</h1>
    <p>Application  web Node.js/Express conteneurisée avec Docker</p>
</body>
</html>